<div class="page-wrapper">
  <div class="main-container">
    <img src="assets/Logo.svg" alt="">
    <p class="main-container-title">A publishing company that focuses on the essentials.</p>
  </div>
  <div class="about-page-content">
    <div class="about-content-1">
      <div class="about-page-text-wrapper">
        <h2 class="about-title">We tell stories that drives the heart.</h2>
        <p class="about-text">Laboris consectetur sunt nulla eiusmod voluptate eiusmod dolor nisi qui dolor cillum
          fugiat ad. Id sit mollit
          labore sunt sit culpa qui minim pariatur et officia elit id. Tempor cupidatat veniam esse ad veniam dolore
          excepteur tempor dolor consectetur ut id.</p>
      </div>
      <img src="assets/imgs/about-page-img1.jpg" alt="">
    </div>
    <div class="about-content-2">
      <div class="about-page-text-wrapper">
        <h2 class="about-title">We tell the news that makes the most impact.</h2>
        <p class="about-text">Laboris consectetur sunt nulla eiusmod voluptate eiusmod dolor nisi qui dolor cillum
          fugiat ad. Id sit mollit
          labore sunt sit culpa qui minim pariatur et officia elit id. Tempor cupidatat veniam esse ad veniam dolore
          excepteur tempor dolor consectetur ut id.</p>
      </div>
      <img src="assets/imgs/about-page-img2.jpg" alt="" style="margin-bottom: 32px;position: relative;z-index: 7;">
    </div>
    <div class="about-page-text-wrapper" style="max-width: 612px;margin-top: 15%;margin-left: 15%;">
      <h2 class="about-title">We share the little moments that shows we’re alive.</h2>
      <p class="about-text">Laboris consectetur sunt nulla eiusmod voluptate eiusmod dolor nisi qui dolor cillum
        fugiat ad. Id sit mollit
        labore sunt sit culpa qui minim pariatur et officia elit id. Tempor cupidatat veniam esse ad veniam dolore
        excepteur tempor dolor consectetur ut id.</p>
    </div>
    <app-owl-carousel [imageArray]="imageArray">

    </app-owl-carousel>
  </div>

  <div class="main-container" style="max-width: 434px;text-align: center">
    <h2 class="about-title" style="color: black">Because we are you. Humans.</h2>
    <p class="about-text" style="color: black">Laboris consectetur sunt nulla eiusmod voluptate eiusmod dolor nisi qui dolor cillum fugiat ad.</p>
  </div>

  <div class="about-footer-content">
    <h3 class="about-footer-title">want to connect?</h3>
    <p class="about-footer-text">Laboris consectetur sunt nulla eiusmod voluptate eiusmod dolor nisi qui..</p>
    <div class="icons-wrapper" style="margin-top: 28px;">
      <a href="#"><img src="assets/icons/twitter-icon.svg" alt=""></a>
      <a href="#"><img src="assets/icons/inst-icon.svg" alt=""></a>
      <a href="#"><img src="assets/icons/linked-icon.svg" alt=""></a>
    </div>
  </div>

</div>
