.login-page-wrapper{
  position: revert;

}

.error-container {
  display: block;
  margin-top: 14px;
  color: red;
}

.access-to-website{
  margin: 4vw auto;
  max-width: 400px;
  width: 90%;
  left: 0;
  top: 0;
  padding: 20px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  font-size: 15px;
  select{
    display: block;
    font-size: 18px;
    max-width: 200px;
    width: 100%;
  }
}
