<div class="login-page-wrapper">
  <div class="login-page-inner">
    <button (click)="back()" class="back-btn"><img src="assets/icons/arrow-icon.png"></button>
    <h1 class="form-title">Forgot password ?</h1>
    <p class="form-subtitle">Instructions for resetting the password will be immediately with phone number to you.</p>
    <form action="" [formGroup]="form" (ngSubmit)="submit()">
      <input class="form-input" type="text" placeholder="User email or mobile number" formControlName="email"
             [ngClass]="{'invalid-input':f['email'].errors && f['email'].touched}"

      >

      <ng-container *ngIf="f['email'].errors && f['email'].touched">
        <ng-container *ngIf="f['email'].errors['required']"><small class="error-container">Email or mobile is required</small>
        </ng-container>
        <ng-container *ngIf="f['email'].errors['pattern']"><small class="error-container">Email isn't pattern</small>
        </ng-container>
      </ng-container>

      <button href="#" [disabled]="form.invalid" type="submit" class="form-btn"><span
        style="margin: 0 auto;">Send email</span></button>
    </form>
  </div>

</div>
